.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 880px;
  column-gap: 17px;
  row-gap: 20px;
  margin: 0 0 67px 0;
}

.grid__item {
  max-width: 282px;
  max-height: 361px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #000000;
  font-family: "Inter-Black", sans-serif;
  font-size: 24px;
  margin: 0;
  font-weight: bold;
}

.grid__image {
  max-width: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.grid__caption-arrange {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 260px;
  margin: auto 20px;
}

.grid__caption {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.grid__likebutton {
  width: 21px;
  height: 19px;
  border: none;
  background-color: #ffffff;
  align-self: center;
}

@media screen and (min-width: 630px) and (max-width: 1024px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 620px;
    column-gap: 17px;
    row-gap: 20px;
    margin: 0 0 67px 0;
  }

  .grid__item {
    font-size: 22px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 288px) and (max-width: 630px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 620px;
    column-gap: 17px;
    row-gap: 20px;
    margin: 0 0 67px 0;
  }

  .grid__item {
    font-size: 22px;
    margin: 0 auto;
  }
}
